<div class="row">
  <div id="content" class="col-md-12">
    <%= link_to 'Add a link', new_link_path, class: 'btn btn-default' %>
    <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% @links.each do |link| %>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 element">
        <div class="col-md-1">
          <div class="row">
            <%= link_to '', increment_link_path(link), class: 'glyphicon glyphicon-triangle-top triangle-icon' %>
          </div>
          <div class="row">
            <span class="score"><%= link.score %></span>
          </div>
          <div class="row">
            <%= link_to '', decrement_link_path(link), class: 'glyphicon glyphicon-triangle-bottom triangle-icon' %>
          </div>
        </div>
        <div class="col-md-10 text-left">
          <h3><%= truncate link.title %><h3>
          </div>
          <div class="col-md-1 actions">
            <%= link_to 'Edit', edit_link_path(link), class: "btn btn-default" %>
            <%= link_to 'Delete', delete_link_path(link), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
            <%= link_to 'Go', link.url, class: "btn btn-default" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
